body{

    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    
}
#principal{
    width: 1024px;
    margin: 20px auto;
}
.div-header{
    background-color: rgb(8, 23, 36);
    margin-top: 0;
    height: 50px;
    position: relative;
   margin-top: 20px;

     
   
}

.logo{
    padding:10px 0 0 150px;
    position: relative;
    left: 10px;
    
    
}


.lista-pai {
    position: absolute;
    top: 1px;
    right: 10px;
    
    
    
}
.lista{
    display: inline-block;
    list-style: none;
    

}

    
.div-header nav a{
    text-decoration:none;
    color:  #425564;  
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    transition: color 0.5s linear;
    
}
   
.div-header nav a:hover{
    color:rgb(190, 190, 190);
}
.img-topo{
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
article h1{
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.842);
    font-weight:bolder;

}

.p1{
    text-align: center;
    font-size: 15px;
    line-height: 2;
    margin-left: 15% ;
    margin-right: 15%;
    color: rgb(92, 92, 92);
    transition: color 0.5 linear;
    transition: font-size linear;

}
section article p:hover{
    color: rgb(39, 39, 39);
    font-size: 16px;

}

.gallery{
    color: #555;
    padding: 0px 100px 50px 100px;
    overflow: auto;
}
.gallery-card{  
    width: 32%;
    float: left ;    
    text-align: center;

}
.card h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}

.art-fim{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(/imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom ;
}
.art-fim h4{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    
}
.art-fim p{
   color: white;
   line-height: 2;
   text-align: left;
   padding-right: 45%;


}
address{
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    color: rgb(00, 61, 82);
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}
em{
    text-transform: none;
}
address a{
    text-decoration: none;
    color: rgb(00, 61, 82);
    padding: 4px;
}


footer{
    background-color: rgb(11, 20, 24);
    padding: 25px 0 25px 0 ;
    height: 50px;
    text-align: center;
    color: rgb(180, 180, 180);
    letter-spacing: 2px;

    margin-top: 30px;
    margin-bottom: 15px;
}