body{
    font-family: tahoma,sans-serif;
    margin: 0;
    padding: 0;
    
}
#principal{
    width: 1024px;
    margin: 20px auto;

}
.header-topo{
    height: 50px;
    background-color: #162028;
    position: relative;
}
.logotipo{
    margin: 5px 0 0 135px ;
}
.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    margin:0 15px 0 0;
    
}